html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  background-color: rgb(21, 21, 21);
}

body {
  color: white;
  padding: 10px;
}

table {
    table-layout: auto;
    width: 100%;
    border-collapse: separate;
    color: white;
    margin-top: 20px;
    border: 2px;
    border-top: 0px;
    border-left: 20px;
    border-right: 20px;
    border-color: white;

    border-radius: 15px;
    overflow: hidden;
}
  
th {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 50%, rgba(200, 50, 50, 1));
    letter-spacing: 2px;
    padding: 10px;
    border: 2px;
  }

td{
  padding: 15px;
  background-color: rgba(40, 40, 40, 1.0);
  border: 2px;
  text-align: right;
  vertical-align:top;

}

session_title{
  font-family: 'helvetica neue', helvetica bold, arial, sans-serif;
  font-size: 120%;
  text-align: left;
  color:rgba(255, 255, 255, 0.8);
}

.info{
  float: right;
  background-color: rgba(100, 100, 100, 0.01);
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 7%;
}

h3{
  text-align: center;
}

.colonne{
  float: left;
  width: fit-content;
  padding-right: 10px;
}

.session_row{
  float: right;
  align-content: right;
}

.cell{
  background-color: rgba(100, 100, 100, 0.3);
  padding: 30px;
  padding-top: 20px;
  width: 400px;
}